<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add title</title>
        <link rel="stylesheet" href="/output.css" />
        <link rel="stylesheet" href="/addMovie.css" />
    </head>
    <body class="bg-mauve-950 h-screen flex flex-col justify-center items-center">
        <%- include('navbar') %>
        <div class="flex-1 justify-center flex items-center">
            <form
                action="<%= "/reviews/confirm/" + movie.id %>"
                method="post"
                class="border border-mauve-300 p-8 flex flex-col gap-10"
            >
                <fieldset>
                    <div class="flex gap-5">
                        <div class="flex-1 text-right font-light"
                            >Movie:
                        </div>
                        <div
                            class="flex-3 text-xl text-mauve-400">
                            <%= movie.title %>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="flex gap-5">
                        <label for="rating" class="flex-1 text-right font-light max-w-sm"
                            >Rating:
                        </label>
                        <input type="number" name="rating" id="rating" value="0" hidden>
                        <div class="flex-3 self-center">
                            <span class="flex mr-auto icon w-fit">
                                <% for (let i=0; i<5; ++i) { %>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" 
                                        class="size-5" id="<%= i %>">
                                            <defs>
                                            <linearGradient id="<%= "half-star-gradient-" + i %>" x1="0%" y1="0%" x2="100%" y2="0%">
                                                <stop offset="50%" stop-color="white" />
                                                <stop offset="50%" stop-color="var(--color-zinc-700)" stop-opacity="1" />
                                            </linearGradient>
                                            </defs>
                                            <path fill="var(--color-zinc-700)" fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                        </svg>                                         
                                    </div>
                                <% } %>
                            </span>
                        </div> 
                    </div>
                </fieldset>

                <fieldset>
                    <div class="flex gap-5">
                        <label for="review" class="flex-1 text-right font-light"
                            >Review:
                        </label>
                        <textarea
                            type="text"
                            name="review"
                            id="review"
                            class="border border-mauve-500 flex-3 pl-2 py-1 h-20 rounded-md 
                            font-light outline-0 w-sm resize-none text-mauve-200"
                            minlength="3"
                            required
                        ></textarea>
                    </div>
                    <div>
                        <p class="text-red-600 justify-center font-light hidden" id="error-msg">
                            Both Review and Rating cannot be empty.
                        </p>
                        <p class="text-red-600 justify-center font-light hidden" id="too-short">
                            Rating must be have more than 3 characters.
                        </p>
                    </div>
                </fieldset>
                
                <fieldset>
                    <div class="flex gap-5">
                        <label for="added-by" class="flex-1 text-right font-light"
                            >Username:
                        </label>
                        <input
                            type="text"
                            name="added-by"
                            id="added-by"
                            placeholder="fromscode"
                            maxlength="30"
                            class="border border-mauve-500 flex-3 p-2 pl-2 rounded-md font-light w-sm"
                        />
                    </div>
                </fieldset>

                <div class="flex justify-center">
                    <button
                        type="submit"
                        class="border-2 py-1 px-5 border-mauve-600 rounded-full cursor-pointer hover:bg-mauve-100 hover:text-mauve-950 hover:border-mauve-100"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>

        <script>
            const rating = document.getElementById("rating");
            const review = document.getElementById('review');
            const msg = document.getElementById('error-msg');
            const short = document.getElementById('too-short');
            const button = document.querySelector("button");

            const form = document.querySelector("form");
            button.addEventListener("click", (e) => {
                e.preventDefault();
                if (review.validity.tooShort) {
                    review.classList.add("border-red-700");
                    short.classList.toggle("hidden");
                    short.classList.toggle("flex");
                    msg.classList.add('hidden')
                }
                else if (review.validity.valueMissing && rating.getAttribute('value') == '0') {
                    review.classList.add("border-red-700");
                    msg.classList.toggle("hidden");
                    msg.classList.toggle("flex");
                } else {
                    form.submit();
                }
            });
            
            const stars = document.querySelectorAll('.size-5');
            let rated = 0;
            // 0 -> not rated yet
            // 0.5 -> rated half star
            // 1 -> rated full star
            let ratedId = -1; // id of the last star rated

            stars.forEach(star => {
                star.addEventListener('mouseleave', () => {
                    if (!rated) {
                        const id = star.id;
                        const path = star.querySelector('path');
                        path.setAttribute('fill', "var(--color-zinc-700)");
                    } 
                })

                star.addEventListener('mouseenter', () => {
                    if (!rated) {
                        const id = star.id;
                        for (let i=0; i<=id; ++i) {
                            const path = document.getElementById(i).querySelector('path');
                            path.setAttribute('fill', "white");
                        }
                        for (let i=+id+1; i<5; ++i) {
                            const path = document.getElementById(i).querySelector('path');
                            path.setAttribute('fill', "var(--color-zinc-700)");
                        }
                    }
                });

                star.addEventListener('click', () => {
                    const id = star.id;

                    if (!rated || ratedId != id) {
                        // not rated yet or rated a different star
                        for (let i=0; i<=id; ++i) {
                            const path = document.getElementById(i).querySelector('path');
                            path.setAttribute('fill', "white");
                        }
                        for (let i=+id+1; i<5; ++i) {
                            const path = document.getElementById(i).querySelector('path');
                            path.setAttribute('fill', "var(--color-zinc-700)");
                        }

                        rating.setAttribute("value", +id+1);
                        rated = 1;
                        ratedId = id;
                    }
                    else if (rated == 1) {
                        // rated full
                        const path = star.querySelector('path')
                        const fill = `url(#half-star-gradient-${id})`
                        path.setAttribute('fill', fill);
                        rated = 0.5
                        rating.setAttribute('value', +id+1-0.5)
                    }
                    else {
                        // rated half
                        stars.forEach((star) => {
                            const path = star.querySelector('path');
                            path.setAttribute('fill', "var(--color-zinc-700)");
                        });

                        rating.setAttribute('value', 0);
                        rated = 0;
                        ratedId = -1;
                    }
                })
            })

            document.querySelector('.icon').addEventListener('mouseleave', () => {
                stars.forEach(star => {
                    if (!rated)
                    star.querySelector('path').setAttribute('fill', "var(--color-zinc-700)");
                })
            })
        </script>
    </body>
</html>
