<div class="mb-5">
    <h1 class="text-8xl font-normal "><%= genre.genre %></h1>
    <div class="flex flex-wrap tracking-tighter">
        <div>
            <span class="font-bold text-xl"><%= genre.count || 0 %> movie<%= genre.count && genre.count == 1 ? '' : 's' %></span>
            <span>available in this genre</span>
        </div>
        <div class="ml-auto text-right">
            <span> created by </span>
            <span class="font-bold text-xl"><%= genre.added_by || 'Anonymous' %></span>
        </div>
    </div>
</div>

<div class="flex flex-wrap gap-6">
    <% movies.forEach(movie => { %>

        <div class="bg-mauve-900 p-4 rounded-2xl min-w-sm">
            <div class="flex gap-4">
                <div class="text-3xl font-medium">
                    <%= movie.title %>
                </div>
                <div class="self-end">
                    <%= movie.year %>
                </div>
            </div>
            <div class="">
                <%= movie.director %>
            </div>
            <div class="mt-2 flex justify-end">
                <button class="flex items-center gap-1 border-2 py-1 px-2 border-mauve-600 rounded-full cursor-pointer hover:bg-mauve-100 hover:text-mauve-950
                hover:border-mauve-100 hover:font-light">
                    Open
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h4.59l-2.1 1.95a.75.75 0 0 0 1.02 1.1l3.5-3.25a.75.75 0 0 0 0-1.1l-3.5-3.25a.75.75 0 1 0-1.02 1.1l2.1 1.95H6.75Z" clip-rule="evenodd" />
                      </svg>                      
                </button>   
            </div>
        </div>

        <!-- <div className="w-96 shadow-sm">
                <h2 className="bg-amber-50"><%= movie.title %></h2>
                <p><%= movie.year %> <%= movie.director %></p>
                </div>
            </div> -->


        <!-- <li>
            <p><%= movie.title %> <%= movie.year %> <%= movie.director %></p>
            <p></p>
            <p>Added by <%= movie.added_by || 'Anonymous' %> on <%= movie.added_at.toDateString().split(' ').slice(1).join(' ') %></p>
            <% if (movie.updated_by) {%>    
                <p>Last updated by <%= movie.updated_by %> 
                    on <%= movie.updated_at.toDateString().split(' ').slice(1).join(' ') %></p>
            <% } %>
        </li>     -->
    <% }); %>
</div>
