<ul class="font-light overflow-x-hidden" style="scrollbar-color: var(--color-zinc-900) var(--color-zinc-900);">
  <% genres.forEach((element, index) => { %>
      <a href="<%= "/genres/" + element.id %>" id="<%= index %>">
        <% if (element.id === genre.id) {%>
          <li class="flex bg-mauve-800 px-3 py-1 mb-2 text-lg rounded-full" id="current">
            <span class=""><%= element.genre %></span>
            <span class="ml-auto min-w-10 rounded-full bg-mauve-800 text-center"><%= element.count %></span>
          </li>
        <% } else {%>
          <li class="flex hover:bg-zinc-800 px-3 py-1 mb-2 text-lg rounded-full">
            <span class=""><%= element.genre %></span>
            <span class="ml-auto min-w-10 rounded-full bg-mauve-800 text-center"><%= element.count %></span>
          </li>
          <% } %>
      </a>
  <% }); %>

  <script type="module">
    const current = document.getElementById('current');
    const ul = document.querySelector('ul');
    const currentId = +current.parentElement.id;
    let scrollBy = (currentId - 5) * current.offsetHeight;
    ul.scroll(0, scrollBy);

    const allGenresList = document.querySelectorAll('ul a');
    ul.addEventListener('mouseenter', e => {
      ul.style['scrollbar-color'] = 'var(--color-zinc-700) var(--color-zinc-900)';
    })

    ul.addEventListener('mouseleave', e => {
      ul.style['scrollbar-color'] = 'var(--color-zinc-900) var(--color-zinc-900)';
    })
  </script>
</ul>