<ul class="font-light overflow-x-hidden" style="scrollbar-color: var(--color-zinc-700) var(--color-zinc-900);">
  <% genres.forEach(element => { %>
      <a href="<%= "/genres/" + element.id %>">
        <% if (element.id === genre.id) {%>
          <li class="flex bg-mauve-800 px-3 py-1 mb-2 text-lg rounded-full">
            <span class=""><%= element.genre %></span>
            <span class="ml-auto min-w-10 rounded-full bg-mauve-800 text-center"><%= element.count %></span>
          </li>
        <% } else {%>
          <li class="flex hover:bg-zinc-800 px-3 py-1 mb-2 text-lg rounded-full">
            <span class=""><%= element.genre %></span>
            <span class="ml-auto min-w-10 rounded-full bg-mauve-800 text-center"><%= element.count %></span>
          </li>
          <% } %>
      </a>
  <% }); %>
</ul>