<section>
    <h1><%= genre.genre %></h1>
    <p>Created by <%= genre.added_by || 'Anonymous' %></p>
    <p><%= genre.count || 0 %> movies available in this genre</p>

    <div>
        <ul>
        <% movies.forEach(movie => { %>
            <li>
                <p><%= movie.title %> <%= movie.year %> <%= movie.director %></p>
                <p><%= movie.description %></p>
                <p>Added by <%= movie.added_by || 'Anonymous' %> on <%= movie.added_at.toDateString().split(' ').slice(1).join(' ') %></p>
                <% if (movie.updated_by) {%>    
                    <p>Last updated by <%= movie.updated_by %> 
                        on <%= movie.updated_at.toDateString().split(' ').slice(1).join(' ') %></p>
                <% } %>
            </li>    
        <% }); %>
        </ul>
    </div>
</section>
 