<!DOCTYPE html>
<html lang="en" style="scrollbar-color: var(--color-zinc-700) var(--color-mauve-950);">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>a4boxd</title>
        <link rel="stylesheet" href="/output.css" />
    </head>
    <body
        class="font-display tracking-tight font-extralight bg-mauve-950 flex 
        flex-col h-screen"
    >
        <%- include('navbar') %>
        <main class="flex-1 flex flex-col px-3 mt-5">
            <section>
                <div class="flex items-center">
                    <h1 class="text-6xl font-normal">
                        <%= movie.title %>
                    </h1>

                    <span class="text-xl ml-auto"><%= movie.year %></span>
                </div>

                <div class="text-xl my-2 text-mauve-400">
                    <span class="font-extralight"> 
                        Director: 
                    </span>
                    <span class="font-normal">
                        <%= movie.director %>
                    </span>
                </div>

                <% if (genres && genres.length) { %>
                    <div class="flex gap-2">
                        <% genres.forEach(genre => { %>
                            <a href="<%= '/genres/view/' + genre.id %>">
                                <div class="bg-zinc-800 px-3 py-1 rounded-full
                                cursor-pointer hover:bg-zinc-700">
                                    <%= genre.genre %>
                                </div>
                            </a>
                        <% }); %>
                    </div>
                <% } %>

                <p class="text-mauve-200 mt-4 font-light">
                    <%= movie.description %>
                </p>

                <p class="flex justify-end items-center gap-1 tracking-tighter text-sm">
                    <span class="text-mauve-300">added by</span>
                    <span class="text-lg font-normal text-mauve-400"><%= movie.added_by %></span>
                </p>
            </section> 

            <hr class="text-mauve-600 my-2">

            <section class="my-5 flex flex-col flex-1 pb-2">
                <div class="flex items-center pb-2">
                    <h2 class="text-2xl font-normal">Reviews: </h2>
                    <a href="<%= "/reviews/add/" + movie.id %>" class="ml-auto">
                        <div class="ml-auto flex gap-2 items-center bg-zinc-800 p-2
                        rounded-xl cursor-pointer hover:bg-zinc-600">
                            <span>Review</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902 1.168.188 2.352.327 3.55.414.28.02.521.18.642.413l1.713 3.293a.75.75 0 0 0 1.33 0l1.713-3.293a.783.783 0 0 1 .642-.413 41.102 41.102 0 0 0 3.55-.414c1.437-.231 2.43-1.49 2.43-2.902V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0 0 10 2ZM6.75 6a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5Zm0 2.5a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </div> 

                <div class="bg-zinc-900 h-full 
                rounded-xl p-5 pb-2 flex flex-col">
                    <div class="p-2">
                        <div class="flex mb-5">
                            <span class="text-mauve-400 font-medium">
                                <%= review.added_by %>
                            </span>
                            <span class="flex ml-auto pr-2 self-center icon">
                                <% for (let i=0; i<review.rating-1; ++i) { %>
                                
                                    <div class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" 
                                        viewBox="0 0 20 20" fill="currentColor" class="size-4">
                                            <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                        </svg>                                          
                                    </div>
                                <% } %>
                                <% if (review.rating && review.rating % 1 == 0) { %>
                                    <svg xmlns="http://www.w3.org/2000/svg" 
                                        viewBox="0 0 20 20" fill="currentColor" class="size-4">
                                            <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                    </svg>                                          
                                <% } else if (review.rating) { %>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" 
                                    class="size-4">
                                        <defs>
                                        <linearGradient id="half-star-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                            <stop offset="50%" stop-color="white" />
                                            <stop offset="50%" stop-color="var(--color-zinc-700)" stop-opacity="1" />
                                        </linearGradient>
                                        </defs>
                                        <path fill="url(#half-star-gradient)" fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
                                    </svg>
                                <% }%>    
                            </span>
                        </div>
                        <p class="text-mauve-300 mt-1 font-extralight text-lg 
                        tracking-tight">
                            <%= review.review %>
                        </p>
                        <div class="flex">
                            <span class="ml-auto text-mauve-400 font-normal">
                                <%= review.added_at
                                    .toLocaleDateString(undefined, {
                                    year: 'numeric', 
                                    month: 'short', 
                                    day:'numeric'
                                    }) %>
                            </span>
                        </div>
                    </div>
                    <hr class="text-mauve-700">

                    <div class="flex justify-center items-center cursor-pointer
                     mt-auto pt-2 gap-3">
                        <a href="<%= "/movies/view/" + movie.id %>" class='flex hover:underline
                            items-center'>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                    <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                                </svg>                              
                            </span>
                            Back to All Reviews
                        </a>

                        <div class="bg-red-500 rounded-full px-2 text-zinc-950
                        font-normal hover:bg-red-400">
                            <a href="<%= "/reviews/delete/" + review.id %>">
                                Delete Review
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </main>

    </body>
</html>
